html body{
  margin: 0px;
  background-color: #2f4f30;
  color: white;
}
.titulo{
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-size: 25px;
  padding: 20px;
}
.carta{
  position: relative; 
  width: 150px;
  left: 100px;
  margin-left: -75px;

}
#id-computadora, #id-jugador{
  height: 250px;
}